<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>ExamByte</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
    <header></header>
    <div id="mainContainer">
        <div id="headlineContainer">
            <h1 id="examByteHeadline">ExamByte</h1>
            <h2 id="subHeadline">Generischer Spruch um professionell zu klingen</h2>
        </div>
        <div id="loginFormContainer">
            <h2 id="loginText">Login via GitHub</h2>
            <form id="loginForm" action="/" method="post">
                <div class="loginFormArea">
                    <label for="username">Benutzername:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="loginFormArea">
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button class="loginFormArea" type="submit">Anmelden</button>
            </form>
            <p th:if="${error}" th:text="${error}" style="color: red;"></p>
        </div>
    </div>
    </body>
</html>