<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <title>Login</title>
    </head>
    <body>
    <header></header>

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 mx-auto">
                <h1 id="examByteHeadline">ExamByte</h1>
                <h3 id="subHeadline">Generischer Spruch um professionell zu klingen</h3>
            </div>
            <div th:if="${user}" class="container">
                <div> <h2> Hallo <span th:text="${user}">Max Mustermann</span> </h2></div>
                <div class="row m-3">
                    <form th:action="@{/logout}" method="post">
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                        <input class="btn btn-dark" type="submit" value="Logout">
                    </form>
                </div>
                <div class="row m-3">
                    <a href="/dashboard"><button class="btn btn-dark">Beam me up, Scotty!</button></a>
                </div>
                <div class="row m-3">
                    <a href="/user"><button class="btn btn-dark">Was diese App jetzt über dich weiß...</button></a>
                </div>
            </div>
            <div th:unless="${user}">
                <div class="row m-3">
                    <a href="/oauth2/authorization/github"><button class="btn btn-dark">Login mit GitHub</button></a>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>